.container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  @media (max-width: 998px) {
    button {
      width: 10rem;
      height: 2rem;
      font-size: 1rem;
    }

    b {
      font-size: 2rem;
    }

    .content {
      font-size: 2rem;
      width: 15rem;
    }

    .message {
      font-size: 1.3rem;
    }

    .time {
      font-size: 2.5rem;
      p {
        margin: 0;
        width: 6rem;
      }
    }

    .labels {
      font-size: 1rem;
      p {
        margin: 0;
        width: 6rem;
      }
    }
  }

  @media (min-width: 999px) {
    button {
      width: 20rem;
      height: 4rem;
      font-size: 1.5rem;
    }

    b {
      font-size: 4rem;
    }

    .content {
      font-size: 3rem;
      width: 30rem;
    }

    .message {
      font-size: 2rem;
    }

    .time {
      font-size: 5rem;
      p {
        margin: 0;
        width: 6rem;
      }
    }

    .labels {
      font-size: 2rem;
      p {
        margin: 0;
        width: 6rem;
      }
    }
  }

  button {
    background-color: #2E3989;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 5rem;
  }

  .content {
    text-align: center;
  }

  .message {
    color: gray;
    margin-top: 1rem;
  }

  .time {
    display: flex;
    justify-content: space-around;
    color: #7B7B7C;
  }

  .labels {
    display: flex;
    justify-content: space-around;
    color: #7B7B7C;
  }
}
